include LICENSE.txt
recursive-include aldryn_social_addthis/templates *
recursive-include aldryn_social_addthis/static *
recursive-include aldryn_social_addthis/migrations *
recursive-exclude * *.pyc
